.customer-page-container {
    background-color: rgb(247, 247, 247);
    display: flex;
}

.customers-page-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 1em 2em;
    gap: 1em;
}

.customers-list table {
    border-collapse: collapse;
    padding: 1em;
}

.customers-list td{
    padding: 10px 2em;
}

.customers-list th{
    background-color: rgb(248, 239, 226);
    padding: 6px 2em;
}

.customers-list tr:nth-child(even){
    background-color: white;
}

.customers-list tr:nth-child(odd){
    background-color: rgb(242, 242, 242);
}