version: '3.8'

services:

  backend:
    build: .
    container_name: backend
    ports:
      - 4500:4500
    environment:
      - MONGODB_CONNECTION="mongodb://localhost:27017/gojo"
      - REDIS_HOST=redis
      - REDIS_PORT=6379

    depends_on:
      - redis
      - mongodb


  mongodb:
    image: mongodb:latest
    container_name: mongodb
    ports:
      - 27017:27017
    

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379